@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

[data-theme='dark'] {
    --bg-color: #1e293b; /* Dark background */
    --text-color: #f8fafc; /* Light text */
}

[data-theme='light'] {
    --bg-color: #ffffff; /* Light background */
    --text-color: #1e293b; /* Dark text */
}

.bg-custom {
    background-color: var(--bg-color);
}

.text-custom {
    color: var(--text-color);
}
